@import 'node_modules/spectre.css/src/spectre';

.btn {
  background: black;
  border-color: black;
  color: white;
  &:visited {
    color: white;
  }
  &:focus,
  &:hover {
    background: white;
    border-color: black;
    color: black;
  }
}
